*{
  margin: 0 auto;
  padding: 0;
}

body{
  background-color: #bedfff;
  font-family: 'Chewy', cursive;
}

h1{
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px 2px grey;
  text-align:center;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* base carte */
.container{
  height: 900px;
  width:  1000px;
  margin: 0 auto;
}

.contain{
  background-color: white;
  background-image: url("../img/pattern.png");
  background-size: contain;
  box-shadow: 3px 3px 5px grey;
  border-radius: 8px 8px 8px 8px;
  margin: 10px;
  float: left;
  height: 280px;
  width:calc(100% / 4 - 20px);
  position: relative;
}

.contain:hover{
    background-image: none;
}

.contain:hover img{
    display: block;
}

.contain:hover .nome{
    display: block;
}

.container :nth-child(6){
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contain img{
  width: 100%;
  display: none;
}

.nome{
  color: #ff3399;
  font-size: 30px;
  text-shadow: 2px 2px 2px lightgrey;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  display: none;
}

.colore:hover{
  color: orange;
}

.blocco{
  color: orange;
  display: block;
}
.contain .blocco:hover{
  color: #ff3399;
}

footer{
  text-align:center;
}
